<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a Recipe</title>
<style>
.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-min {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}
</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('addRecipeCtrl', function($scope, $http, $q) {
			console.log("Hit!");
			$scope.inventory = [];
			
			$scope.removeIngredients = function() {
				for (i = 0; i < $scope.recipe.ingredients.length; i++) {
					if ($scope.recipe.ingredients[i].selected) {
				    	  $scope.recipe.ingredients.splice( i, 1 );
				    	  i--;
						    
				      }
				}
				console.log($scope.recipe.ingredients);
				
			    
			}
			
			$scope.addIngredient = function(name) {
				if (name != undefined) {
					for (i = 0; i < $scope.recipe.ingredients.length; i++) {
						if ($scope.recipe.ingredients[i].name == name) {
							console.log($scope.recipe.ingredients);
							return;
						}
					}
					$scope.recipe.ingredients.push({name : name})
				}
				console.log($scope.recipe.ingredients);
			}
			
			$scope.getInventory = function() {
				$http.get("/api/v1/inventory").then(function(response) {
					$scope.inventory = response.data.ingredients;
					console.log($scope.inventory);
				}, function(rejection) {
					console.error("Error while getting Inventory");
				})
			}
			
			$scope.reset = function() {
				$scope.recipe = {
					name : '',
					price : '',
					ingredients : []
				};
				$scope.getInventory();
				if (undefined != $scope.addRecipeForm) {
					$scope.addRecipeForm.$setPristine(); // reset Form
				}
			}

			$scope.submit = function() {
				$scope.addRecipe();

				$scope.reset();
			}

			$scope.addRecipe = function() {
				$scope.success = false;
				$scope.failure = false;

				$http.post("/api/v1/recipes", $scope.recipe).then(
						function(success) {
							$scope.success = true;
							$scope.failure = false;
						}, function(rejection) {
							$scope.failure = true;
							$scope.success = false;
							console.error("Error while adding recipe");
						});
			}

			$scope.reset();
		});
		/*]]>*/
	</script>



	<div ng-app="myApp" class="generic-container ng-cloak"
		ng-controller="addRecipeCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Add a Recipe</span>
			</div>

			<div class="formcontainer">
				<form ng-submit="submit()" name="addRecipeForm"
					class="form-horizontal">

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Name</label>
							<div class="col-md-7">
								<input type="text" ng-model="recipe.name" name="name"
									class="name form-control input-sm"
									placeholder="Enter recipe name" required="0" />
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.name.$error.required">This
										is a required field</span> <span
										ng-show="addRecipeForm.name.$invalid">This field is
										invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Price</label>
							<div class="col-md-7">
								<input type="text" ng-model="recipe.price" name="price"
									class="price form-control input-sm"
									placeholder="Enter recipe price" required="0" />
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.price.$error.required">This
										is a required field</span> <span
										ng-show="addRecipeForm.price.$error.min">Minimum amount
										is 0</span> <span ng-show="addRecipeForm.price.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>
					
	        		<div ng-repeat="ingredient in recipe.ingredients track by $index">
	        			<div class="row">
							<div class="form-group col-md-12">
		        				<input type="checkbox"
			        				ng-model="ingredient.selected">
		       				 	<label class="col-md-2 control-lable" for="file">{{ingredient.name}}</label>
		       				 	<div class="col-md-7">
									<input type="text" ng-model="ingredient.amount" name="amount"
										class="ingredient form-control input-sm"
										placeholder="Enter ingredient quantity" required="0" />
									<div class="has-error" ng-show="addRecipeForm.$dirty">
										<span ng-show="addRecipeForm.ingredient.$error.required">This
											is a required field</span> <span
											ng-show="addRecipeForm.price.$error.min">Minimum amount
											is 0</span> <span ng-show="addRecipeForm.price.$invalid">This
											field is invalid </span>
									</div>
								</div>
					        </div>
   					     </div>
   					 </div>
					
					
					<div class="col-sm">
	       				<select ng-model="ingredient"
			    			ng-options="item as item.name for item in inventory"
			    			ng-change="addIngredient(ingredient.name)">
			    			<option value=''>Select ingredient</option>
	       				</select>
        			</div>

					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Submit"
								class="btn btn-primary btn-sm"
								ng-disabled="addRecipeForm.$invalid" />
							<button type="button" ng-click="removeIngredients()"
								class="btn btn-warning btn-sm"
								ng-disabled="addRecipeForm.$pristine">Remove Selected Ingredient</button>
							<button type="button" ng-click="removeIngredients()" value='Click'
								class="btn btn-warning btn-sm"
								ng-disabled="addRecipeForm.$pristine">Reset Form</button>
						</div>
					</div>
				</form>
			</div>
			<div ng-show="success">Recipe Created</div>
			<div ng-show="failure">Error while adding recipe.</div>
		</div>

		<a href="/index">Home</a>
	</div>



</body>
</html>